/* This is a temporary css file for testing

.sections{
  border:1px solid red;
}
.profile-title{
  border:1px solid green;
}
.user-details{
  border:1px solid yellow;
}
section{
  border:1px solid blue;
}
/* .user-section{
  border:1px solid blue;
}
.user-wishlist{
  border:1px solid blue;
} */
 /*
.first-name,
.second-name,
.phone-number,
.email,
.address{
  border:1px solid black;
}
.names,
.contacts
{
  border: 1px solid brown;
}
.div-in{
  border: 1px solid pink;
} */
